<div class="cbos-runtime-grid">
    <div class="row cbos-grid-row">
        <div class="col-sm-8 cbos-grid-col">
            <div class="cbos-2y-grid cbos-grid-block ">
                <div class="cbos-y1-grid grid-place-holder"> <cbos-add-component-container lig="cbos-y1-grid" ></cbos-add-component-container></div>
                <div class="cbos-y2-grid"> <cbos-chart-runtime lig="cbos-y2-grid" title="SALES PROJECTIONS" ></cbos-chart-runtime></div>
            </div>
        </div>
        <div class="col-sm-4 cbos-grid-col">
            <div class="cbos-sidebar grid-place-holder"><cbos-add-component-container lig="cbos-sidebar" ></cbos-add-component-container></div>
        </div>
    </div>
</div>