<div class="cbos-runtime-grid">
    <div class="cbos-2y-grid cbos-grid-block">
        <div class="cbos-y1-grid grid-place-holder"> <cbos-add-component-container lig="cbos-y1-grid" ></cbos-add-component-container> </div>
        <div class="cbos-y2-grid">

            <div class="cbos-3x-grid cbos-grid-block">

                <div class="container-fluid cbos-grid-container">

                    <div class="row cbos-grid-row">

                        <div class="col-sm-4 cbos-grid-col">

                            <div class="cbos-x1-grid grid-place-holder"> <cbos-add-component-container lig="cbos-x1-grid" ></cbos-add-component-container></div>
                        </div>

                        <div class="col-sm-4  cbos-grid-col">
                            <div class="cbos-x2-grid grid-place-holder"><cbos-add-component-container lig="cbos-x2-grid" ></cbos-add-component-container></div>
                        </div>

                        <div class="col-sm-4 cbos-grid-col">

                            <div class="cbos-x3-grid grid-place-holder"> <cbos-add-component-container lig="cbos-x3-grid" ></cbos-add-component-container></div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>