

<div class="form-group cbos-margin-bottom-5">
    <label  for="TableDataType" class="control-label col-sm-3" style="max-width: 98px;">data type:</label>
    <div class="col-sm-9">
        <select id="TableDataType" class=" form-control">
            <option value="sendmail">lookup</option>
            <option value="sendmail">type one</option>
            <option value="sendmail">type two</option>
        </select>
    </div>
</div>

<div class="cbos-padding-top-15">
    <div>Required to be filled?</div>
    <label class="radio-inline">
        <input type="radio" name="required" id="inlineRadio2" value="yes"> yes
    </label>
    <label class="radio-inline">
        <input type="radio" name="required" id="inlineRadio3" value="no"> no
    </label>

</div>

<div class="form-group cbos-padding-top-5">
    <label  for="ValidationMessage" class="control-label col-sm-4 " style="max-width: 180px;">Validation message:</label>
    <div class="col-sm-8">
        <input type="text" id="ValidationMessage" class="form-control" placeholder="this field cannot be empty!">
    </div>
</div>

<div>
    <div>Enforce unique values?</div>
    <label class="radio-inline">
        <input type="radio" name="unique" id="inlineRadio2" value="yes"> yes
    </label>
    <label class="radio-inline">
        <input type="radio" name="unique" id="inlineRadio3" value="no"> no
    </label>

</div>


<div class="form-group">
    <label  for="informationSource" class="control-label col-sm-4" style="max-width: 180px;">Maximum Number of Characters:</label>
    <div class="col-sm-8">
        <input id="informationSource" type="number" class="form-control">
    </div>
</div>

<div class="cbos-padding-bottom-15">
    <div>Default value:</div>
    <label class="radio-inline">
        <input type="radio" name="default" id="inlineRadio4" value="text"> Text
    </label>
    <label class="radio-inline">
        <input type="radio" name="default" id="inlineRadio5" value="Caculated"> Caculated Value <input type="text">
    </label>

</div>