






<div class="modal mobileSearchModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" ></h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal ">

                    <div class="form-group">

                        <div class="mobileSearchInputContainer col-xs-9">

                            <span class="glyphicon glyphicon-search"> </span>

                            <input type="text" id="mobileSearchInput" class="form-control " placeholder="search">

                        </div>

                        <label for="mobileSearchInput" class="col-xs-3 control-label text-left cbos-pointer" ng-click="$hide()"> Cancel </label>


                    </div>


                </form>



            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>