<div class="form-group">
    <label class="control-label col-sm-3"></label>

    <div class="col-sm-9 cbos-padding-left-0 cbos-margin-left-0 text-left">
        <label class="radio-inline" ng-class="{'requiredInfo':required}">
            <input type="radio" name="{{label}}" value="{{label}}"> {{label}}
        </label>
        <label class="radio-inline" ng-class="{'requiredInfo':required}">
            <input type="radio" name="{{label}}" value="{{label}}"> {{label}}
        </label>
    </div>
</div>