<div class="aside mobileMenuAside" tabindex="-1" role="dialog">
    <div class="aside-dialog">
        <div class="aside-content">
            <div class="aside-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <!--<h4 class="aside-title" ng-bind="title"></h4>-->
                <h4 class="aside-title"></h4>
            </div>

            <!--<div class="aside-body" ng-bind="content">-->
            <div class="aside-body">

                <div class="userInfo">

                    <div class="userProfilePic pull-left"> <img src="cbos_layouts/desktop/theme/images/profile_icon_man.png" alt="userPicture">  </div>
                    <div class="userProfileText pull-left"> <div>STEVEN LIU</div>  <div>Senior HR Manager</div> </div>

                    <div class="pull-left headerShortCuts  cbos-padding-left-20">
                        <!--<div class="pull-left cbos-pointer cbos-padding-top-5 cbos-margin-right-15 glyphicon glyphicon-user">-->
                        <!--</div>-->
                        <div class="pull-left cbos-pointer cbos-padding-top-5 cbos-margin-right-15 glyphicon glyphicon-envelope">
                        </div>
                        <div class="pull-left cbos-pointer cbos-padding-top-2 cbos-margin-right-15 ">
                            <span class="contactsIcon"> <img src="cbos_layouts/desktop/theme/images/address-book.png"></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
                <div class="clearfix"></div>
                <hr>

                <div class="mobileMenuItemContainer">

                    <div class="mobileMenuItem">

                        <div class="menuIcon pull-left">
                      <span class="glyphicon glyphicon-th "></span>


                        </div>

                        <div class="menuName pull-left">Destop</div>


                        <div class="clearfix"></div>


                    </div>




                    <div class="mobileMenuItem">

                        <div class="menuIcon pull-left">
                            <span class="glyphicon glyphicon-user"></span>


                        </div>

                        <div class="menuName pull-left">Profile</div>


                        <div class="clearfix"></div>


                    </div>



                    <div class="mobileMenuItem">

                        <div class="menuIcon pull-left">
                            <span class="glyphicon glyphicon-envelope"></span>


                        </div>

                        <div class="menuName pull-left">Email</div>


                        <div class="clearfix"></div>


                    </div>



                    <div class="mobileMenuItem">

                        <div class="menuIcon pull-left">
                            <span class="glyphicon glyphicon-list-alt"></span>


                        </div>

                        <div class="menuName pull-left">Contacts</div>


                        <div class="clearfix"></div>


                    </div>



                    <div class="mobileMenuItem" >

                        <div class="menuIcon pull-left" style="margin-right: 10px">
                            <span class="glyphicon glyphicon-log-out" style="font-size: 1.2em"></span>


                        </div>

                        <div ng-click="logout()" class="menuName cbos-pointer pull-left">Log Out</div>


                        <div class="clearfix"></div>


                    </div>



                    <div class="mobileMenuItem settings">

                        <div class="menuIcon pull-left">
                            <span class="glyphicon glyphicon-cog"></span>


                        </div>

                        <div class="menuName pull-left">Settings</div>


                        <div class="clearfix"></div>


                    </div>




                </div>

            </div>
            <div class="aside-footer">
                <!--<button type="button" class="btn btn-default" ng-click="$hide()">Close</button>-->
            </div>
        </div>
    </div>
</div>