
<div class="container-fluid mobileRecordFormContainer"><div class="mobileRecordFormBody"><div class="form-horizontal">


            here

        </div><div class="clearfix"></div>
    </div>

    <div class="mobile-record-form-footer">
        <div class="cbos-modal-footer-inner">
            <button class="btn cbos-btn cbos-btn-gray cbos-btn-lg" ng-click="dismiss()">Cancel</button>
            <button class="btn cbos-btn cbos-btn-blue cbos-btn-lg" ng-click="submitForm()">Ok</button>
        </div>
    </div>

</div>

