#generatedCode {
    background-color: #f5f5f5;
    width: 100%;
    max-width: 100%;
    height: 100%;
    border: 2px solid #dddada;
}
.app-input-group-addon {
    width: 80px;
}
.app-input-group {
    padding-top: 5px;
}
.padding-left-15 {
    padding-left: 15px;
}
.alignleft {
    float: left;
}
.alignright {
    text-align: right;
}
.popuplastrowcomp {
    padding-bottom: 5px;
}
.dropdowncompbutton {
    width: 145px;
}
.margin-bottom-5 {
    margin-bottom: 5px !important;
}
#myModalLabel {
    text-transform: capitalize;
}
.input-group-addon {
    min-width: 80px;
}
.navborder {
    border: 1px solid #D7D2D2;
}
.row2leftpadding {
    padding-left: 15px;
}
.topPadding5 {
    padding-top: 5px;
}
.bottomPadding5 {
    padding-bottom: 5px;
}
.app-nav-tabs > li > a {
    padding: 5px 30px;
}
div.jHtmlArea .ToolBar {
    display: none !important;
}
.autofix-input-group-addon {
    min-width: 0px !important;
}
.marginleft0 {
    margin-left: 0px !important;
}
.marginright0 {
    margin-right: 0px !important;
}
.paddingleft0 {
    padding-left: 0px !important;
}
.paddingright0 {
    padding-right: 0px !important;
}
.appfontsizecontrol {
    width: 60px !important;
}
/*.colpick {
    z-index: 9999;
}*/
/*.rgbvaluebox {
    width: 100px;
}
*/



/*------- NEW CSS 9 JAN 2015 batra  */
.navborder.topPadding5.bottomPadding5 {
    width: 100%;
    float: left;
}
.btn.btn-default > img {
  float: left;
  height: 16px;
  width: 16px;
}
.large-icons .btn.btn-default.navbar-btn {
    padding: 12px;
    border-radius: 5px;
    margin-top: 9px;
}
.large-icons .btn.btn-default.navbar-btn > img {
    width: auto;
    height: auto;
}













