<div class="cbos-2y-grid grid-container-type">
    <div class="cbos-y-1 grid-place-holder"></div>
    <div class="cbos-y-2">

        <div class="cbos-2x-grid grid-container-type">

            <div class="container-fluid cbos-full-height">

                <div class="row cbos-full-height">

                    <div class="col-sm-6 cbos-full-height" >

                        <div class="cbos-x-1  grid-place-holder"></div>
                    </div>

                    <div class="col-sm-6 cbos-full-height">
                        <div class="cbos-x-2  grid-place-holder "></div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>