<div class="cbos-2y-grid grid-container-type cbos-padding-left-5  cbos-padding-right-5">
    <div class="cbos-y-1 grid-place-holder"> </div>
    <div class="cbos-y-2">

        <div class="cbos-3x-grid grid-container-type">

            <div class="container-fluid cbos-full-height">

                <div class="row cbos-full-height">

                    <div class="col-sm-4 cbos-full-height">

                        <div class="cbos-x-1  grid-place-holder"></div>
                    </div>

                    <div class="col-sm-4  cbos-full-height">
                        <div class="cbos-x-2  grid-place-holder"></div>
                    </div>

                    <div class="col-sm-4  cbos-full-height">

                        <div class="cbos-x-3  grid-place-holder"></div>
                    </div>

                </div>

            </div>
        </div>
    </div>


</div>